<div data-hook="admin_user_form_fields" class="row">
  <div class="col-12 col-md-6">
    <%= f.field_container :email do %>
      <%= f.label :email, Spree.t(:email) %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.error_message_on :email %>
    <% end %>

    <div data-hook="admin_user_form_roles" class="form-group">
      <strong><%= Spree.t(:roles) %></strong>
      <%= f.collection_check_boxes :spree_role_ids, Spree::Role.all, :id, :name do |role_form| %>
        <div class="checkbox">
          <%= role_form.label for: "user_spree_role_#{role_form.object.name}" do %>
            <%= role_form.check_box id: "user_spree_role_#{role_form.object.name}" %>
            <%= role_form.object.name %>
          <% end %>
        </div>
      <% end %>
              <% if current_spree_user.respond_to?(:has_spree_role?) && current_spree_user.has_spree_role?(:admin) %>
            <%= f.field_container :vendor_ids, class: ['form-group'] do %>
              <%= f.label :vendor_ids, plural_resource_name(Spree::Vendor) %>
              <%= f.collection_select(:vendor_ids, Spree::Vendor.all, :id, :name, { }, { class: 'select2', multiple: true }) %>
            <% end %>
          <% end %>
</div>
  </div>

  <div data-hook="admin_user_form_password_fields" class="col-12 col-md-6">
    <%= f.field_container :password do %>
      <%= f.label :password, Spree.t(:password) %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.error_message_on :password %>
    <% end %>

    <%= f.field_container :password_confirmation do %>
      <%= f.label :password_confirmation, Spree.t(:confirm_password) %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <%= f.error_message_on :password_confirmation %>
    <% end %>
  </div>
</div>
